<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Patients</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>All Patients</h1>
<div class="col-sm-12 col-md-12">
    <a href="/patient/add" class="btn btn-block btn-dark">
        Add new patient
    </a>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>EMBG</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.embg}"></td>
        <td th:text="${#dates.format(patient.dateOfBirth, 'yyyy-MM-dd')}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.surname}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
